<% include ../partials/header %>
  <%
    var totalAmount=0,eventAmount={};
    reciepts.forEach(reciept=>{
      totalAmount=totalAmount+ reciept.eventFee;
      eventAmount[reciept.event.eName]=((eventAmount[reciept.event.eName])?eventAmount[reciept.event.eName]:0)+reciept.eventFee;
    });
  %>

  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Money</th>
    </tr>
  </thead>
  <tbody>
    <% Object.keys(eventAmount).forEach(function(key) {%>
      <tr>
      <td><%=key%></td><td><%=eventAmount[key]%></td>
      </tr>
  <%})%>
  </tbody>
</table>
</body>
</html>
