<% include ../partials/header %>
  <%
    var totalAmount=0,cashierAmount={};
    reciepts.forEach(reciept=>{
      totalAmount=totalAmount+ reciept.eventFee;
      cashierAmount[reciept.generatedBy.username]=((cashierAmount[reciept.generatedBy.username])?cashierAmount[reciept.generatedBy.username]:0)+reciept.eventFee;
    });
  %>
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Cashier Name</th>
      <th scope="col">Money</th>
    </tr>
  </thead>
  <tbody>
  <% Object.keys(cashierAmount).forEach(function(key) {%>
    <tr><td><%=key%></td> <td><%=cashierAmount[key]%></td></tr>
<%})%>
</tbody>
</table>
<br/>
<h3 class="text-center">Total collection: <%=totalAmount%></h3>
</body>
</html>
