<% include ../partials/header %>
    <div class="container py-5">
    <div class="row">
        <div class="col-lg-12 mx-auto mb-5  text-center">
            <h1 class="display-4">Admin's Home</h1>

        </div>

    </div>
    <div class="row mb-5">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="card p-4 text-center shadow-drk" style="background-color:#f1f1f1;border:none" >
            <h2>Sort Data</h2>
            <div class="card-body">
                <form action="/admin/cashierData" method="POST">
                    <div class="form-group input-group">
                        <div class="input-group-prepend bg-primary text-white pl-3 pr-3 pt-2" style="font-size:20px"><i class="fa fa-user" ></i></div>
                        <select  name="cashier" class="selectpicker form-control"  data-live-search="true" data-live-search-placeholder="Select Username" required>
                                <%cashiers.forEach(cashier=>{ %>
                                    <option  value="<%= cashier._id %>" > <%= cashier.username %> </option>
                                <% })%>
                        </select>
                    </div>
                    <button class="btn btn-outline-primary"> Find</button>

                </form>
                <br>
                <form action="/admin/eventData" method="POST">
                    <div class="form-group input-group">
                        <div class="input-group-prepend bg-primary text-white pl-3 pr-3 pt-2" style="font-size:20px"><i class="fa fa-user" ></i></div>
                        <select  name="event" class="selectpicker form-control"  data-live-search="true" data-live-search-placeholder="Select Event Name" required>
                                <%events.forEach(event=>{ %>
                                    <option  value="<%= event._id %>" > <%= event.eName %> </option>
                                <% })%>
                        </select>
                    </div>
                    <button class="btn btn-outline-primary"> Find</button>

                </form>
            </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>


    <div class="row  mb-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card p-4 text-center shadow-drk" style="background-color:#f1f1f1;border:none" >
                <h2>Create New Cashier ID</h2>
                <div class="card-body">
                    <form action="/admin/register" method="POST">
                        <div class="form-group input-group">
                            <div class="input-group-prepend bg-primary text-white pl-3 pr-3 pt-2" style="font-size:20px"><i class="fa fa-envelope" ></i></div>
                            <input type="text" name="username" placeholder="Enter Username" class="form-control" required/>
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend bg-primary text-white pl-3 pr-3 pt-2" style="font-size:20px"><i class="fa fa-key" ></i></div>
                            <input type="password" name="password" placeholder="Enter password" class="form-control" required />
                        </div>
                        <button class="btn btn-outline-primary"> Create</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    </div>




    </body>
</html>
