<% include ./partials/header %>
  <%
    var totalAmount=0,eventAmount={};
    reciepts.forEach(reciept=>{
      totalAmount=totalAmount+ reciept.eventFee;
      eventAmount[reciept.event.eName]=((eventAmount[reciept.event.eName])?eventAmount[reciept.event.eName]:0)+reciept.eventFee;
    });
  %>
    <div class="container py-5">
    <div class="row">
        <div class="col-lg-12 mx-auto mb-5  text-center">
            <h1 class="display-4">Cashier's Home</h1>

        </div>
       <div class="col-lg-4 col-sm-6 p-3">
           <a href="/reciept">
            <div class="bg-dark rounded-lg p-2 shadow" style="height:100%">
                <h2 class="h4 font-weight-bold mt-2 text-center mb-4">Generate Reciept</h2>
                <br>
                <div class=" mx-auto text-center" style="width:150px;height:150px">
                    <h2 class="display-1 "><i class="fa fa-paste"></i></h2>
                </div>


            </div>
          </a>
       </div>
       <div class="col-lg-4 col-sm-6 p-3">

            <div class="bg-dark rounded-lg p-2 shadow" style="height:100%">
                <h2 class="h4 font-weight-bold mt-2 text-center text-primary mb-4">Total Reciepts generated </h2>
                <br>
                <div class=" mx-auto text-center" style="width:150px;height:150px">
                    <h2 class="display-2 text-primary "><%= reciepts.length %></h2>
                </div>



            </div>

       </div>
       <div class="col-lg-4 col-sm-6 p-3">

            <div class="bg-dark rounded-lg p-2 shadow" style="height:100%">
                <h2 class="h4 font-weight-bold mt-2 text-center text-primary mb-4">Total Money Collected:- </h2>
                <br>
                <div class=" mx-auto text-center" style="width:150px;height:150px">
                    <h2 class="display-4 text-primary ">Rs. <%= totalAmount %></h2>
                </div>



            </div>

       </div>
    </div>

    </div>
