<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            padding:0;

        }
        #mailheader {

            height: 50%;
            width: 100%;
            background-color: gainsboro;
            box-sizing: border-box;


        }

        #image {
            display: inline-block;
            width:50px;
        }

        #para {
            display: inline-block;
            width:70%;
        }

        #headertext {

            color: #E24747;
            font-size: 2em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 20px;
            margin-bottom: 20px;




        }

        #thanks {
            color: chocolate;
        }

        #logocess {
            width:50px;
        }

        #message {
            font-size: 20px;
            color: darkslateblue;
        }

        #event {
            font-style: bold;
            color: darkslateblue;
        }
    </style>
</head>

<body>
    <div id="mailheader">
        <div id="image">


            <img id="logocess" src="https://www.cessgndu.com/images/logo/cesslogo.png" alt="cess logo">

        </div>
        <div id="para">
            <p id="headertext">Computer Engineering student society</p>
        </div>
    </div>
    <h1 id="thanks">Thankyou for participating <span id="thanks">Bharat Nischal!</span></h1>

    <p id="message">You are successfully registered in <strong><em><span id="event">Scavanger Hunt</span></em></strong>
        Event!</p>
        <h3 style="color: forestgreen ">Event Fee: <span style="color: dimgray">Rs 100/-</span></h3>
      <em> <strong> <p style="color: #E24747">Hope you will put full efforts to win this Event!</p></strong></em>

</body>

</html>